/**
 * Al cuerpo se le aplica un tamaño de fuente de 12px
 */
body{
	font-size: 12px;
}

/**
 * Se aplica el margen superior a 20px,
 * el display para mostrar los elementos en línea, 
 * y la alineación horizontal flotante a la derecha
 */
h3 {
	margin-top: 20px;
	display: inline;
	float: right;
}

/**
 * Se aplica el ancho, margen centrado,
 * borde de un pixel con redondeado, 
 * y rellenado a la izquierda y derecha de 9px
 */
#ContenedorLogin{
	width: 20%;
	margin: 50px auto;
	background-color: #F3EDED;
    border: 1px solid #ECE8E8;
	height: 400px;
	border-radius:8px;
	padding: 0px 9px 0px 9px;
}

/**
 * Se aplica el ancho, los márgenes superior y derecho,
 * y la alineación horizontal flotante a la derecha
 */
#ContenedorLogout{
	width: 10%;
	margin-top: 10px;
	margin-right: 10px;
	float: right;	
}

/**
 * Se aplica la fuente a tamaño 12px, centrada y en color rojo
 */
#error {
	font-size: 16px;
	color: red;
	text-align: center;
}


/**
 * Se aplica al icono de usuario el color de fondo,
 * rellenado de 20px, y un redondeado de 120px
 */
.Icon span{
	background: #A8A6A6;
    padding: 20px;
    border-radius: 120px;
}

/**
 * Se aplica al contenedor padre un margen de 10px en cabecera y pie,
 * color de fuente blanco, tamaño de fuente 50px, y texto centrado
 */
.Icon{
	margin-top: 10px;
    margin-bottom:10px; 
    color: #FFF;
    font-size: 50px;
    text-align: center;
}
