<!-- components/footer.html -->
<footer class="bg-van-primario-v2 text-van-secundario-v3 py-4">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <!-- Copyright -->
            <span class="font-texto font-medium mb-3 md:mb-0">
                © 2026 VanPlanner
            </span>
            
            <!-- Enlaces -->
            <div class="flex space-x-6">
                <a href="#" class="font-texto font-medium hover:text-van-primario-v1 transition duration-200">
                    Términos
                </a>
                <a href="#" class="font-texto font-medium hover:text-van-primario-v1 transition duration-200">
                    Privacidad
                </a>
                <a href="#" class="font-texto font-medium hover:text-van-primario-v1 transition duration-200">
                    Contacto
                </a>
            </div>
        </div>
    </div>
</footer>