<header class="bg-van-primario-v2 py-1 shadow-md flex-shrink-0">
    <div class="container mx-auto px-4">
        <div class="flex justify-between md:justify-center items-center">
            <a href="index.html"
                class="text-van-secundario-v3 font-titulo font-semibold hover:text-van-primario-v1 transition duration-200 text-xs md:text-sm">
                INICIO
            </a>
            <a href="index.html" class="mx-2 md:mx-4 -mt-2 -mb-3">
                <div class="flex items-center">
                    <img src="assets/images/logoAplicacion.png" alt="VanPlanner" class="h-20 w-auto md:h-28">
                </div>
            </a>
            <a href="#"
                class="text-van-secundario-v3 font-titulo font-semibold hover:text-van-primario-v1 transition duration-200 text-xs md:text-sm">
                NUEVO VIAJE
            </a>
        </div>
    </div>
</header>